<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User tasks</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <b><span sec:authentication="name"/></b> assigned tasks:

    <div id="tasksDiv" >
        <ul id = "tareas">
        </ul>
    </div>


    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script th:inline="javascript">
$(document).ready(function(){
        var user = /*[[${#authentication.name}]]*/;

        $.ajax({
            url: 'http://localhost:8081/api/tasks/'+user,
            dataType: 'json',
            type: 'get',
            contentType: 'application/json',
            success: function(result){
                console.log(result.length);
                if (result.length > 0) {
                     $.each(result, function(index, element) {
                        var ul = document.getElementById("tareas")
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        a.setAttribute('href', "/tasks/"+element.id);
                        a.appendChild(document.createTextNode(element.name));
                        li.append(a);
                        ul.appendChild(li);
                     });
                 } else {
                    $("#tasksDiv").html("<b>No tasks assigned</b>");
                 }
            }
        });
});
</script>
