<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Welcome</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Welcome to Process Platform</h1>
    <p>The operations you can do it:</p>
    <ul>
        <li sec:authorize="hasRole('USER')" >
            <a th:href="@{/user}">Create a new process</a>
        </li>
        <li sec:authorize="hasRole('USER')" >
            <a th:href="@{/tasks}">View your process tasks</a>
        </li>

        <li sec:authorize="hasRole('MANAGER')" >
            <a th:href="@{/manager}">Deploy a new version of a process</a>
        </li>
        <li sec:authorize="!isAuthenticated()" >
            <a th:href="@{/login}">Login</a>
        </li>

    </ul>
</div>
</body>
</html>